1 photo credit: Bob Dass <a href="http://www.flickr.com/photos/54144402@N03/49263489461">Goat Rock State Beach, Sonoma County, California</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by/2.0/">(license)</a></br>
2 photo credit: Magda2Genève <a href="http://www.flickr.com/photos/183888726@N03/49961337711">Bibliothèque humaniste (A nouveau ouverte après le confinement)</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">(license)</a></br>
3 photo credit: herbraab <a href="http://www.flickr.com/photos/55276107@N00/46343983285">Signalkogel 360° Panorama</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/">(license)</a></br>
